altgraph==0.17.3
attrdict==2.0.1
cycler==0.11.0
jsonpickle==3.0.1
kiwisolver==1.4.4
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.21.4
Pillow==9.5.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
tomli==2.0.1
typed-ast==1.5.4
typing_extensions==4.6.0
webcolors==1.13
wxPython==4.2.0
wxwidgets==1.0.5
yapf==0.33.0
zipp==3.15.0
